/* google fonts import*/
@import url ('https://fonts.googleapis.com/css?family=Caveat');
/* id selectors */

body {

  background-image: url('gym03.jpg');
  background-color: #FFE;
  background-position: center;
  background-size: cover;

}

#title{
  text-align: center;

  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #445;
  background-color: rgba(100,100,100, 0.4);
  border-color: #09F;
  border-style: double;
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 60px;


}


#subtitle {
  font-size: 1.4em;
  color: #000;

}


#description {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: #F34;

}

#header{
  text-align: center;



}

#vheader {
  background-color: rgba(180,180, 180, 0.7);
  padding: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

#variables {
  background-color: rgba(125,125,125, 0.7);
  background-size: 44px;
  border-style: double;
  border-color: #09F;
  display: grid;
  margin: auto;

  max-width: 1140px;
  padding:  20px 0;
  padding-bottom: 2.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  font-family: normal;
  font-size: 1.2em;
}

#rest {
  color: #F34;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 50px;

  font-size: 1.5em;


}


#variables h1 {
  text-align: center;

  font-size: 1.7em;
  padding-top: 5px;
  padding-bottom: 15px;
  color: #FF3052;
}

#footer{
  text-align: center;
  color: #C20;
  padding-top: 20px;
}

#variables h2 {
  margin-top: 0.5em;
  text-align: center;
  margin-right: 70px;
  opacity: 1.0;
}


#variables ul{
  list-style-type: none;
  padding-left: 60px;
}

#variables ol{
  padding-left: 60px;
  color: #FFF;
  background-color: rgb(100,100,100,0.3);
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}


#variables li{
  font-style: normal;
  font-size: 1.5em;
  margin-top: 0.4em;
  width: 100%;

}

#exercises ol{
  padding-left: 2em;
}

#exercises li{
  margin-top: 0.4em;
  width: 100%;
  padding-left: 2em;
}

#exercises div {
  grid-column: span 3;
  margin: 0 1em;
}

#variables div {
  grid-column: span 3;
  margin: 0 1em;
}

#header h2{
  color: #D40;
}

  /* media query */
@media only screen and (min-width: 720px) {

  #variables div {
    grid-column: auto;
    margin: 0;
  }


    /* media query */
  @media only screen and (min-width: 720px) {

    #exercises div {
      grid-column: auto;
      margin: 0;
    }

  }
}


.options{
  color: #FFF;

}

.btn-red{
  text-align: center;
  background-color: #FF3052;
  border: 3px solid #000;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  margin: auto;
  display: grid;
  font-size: 1.5em;
  padding: 7px 10px 10px 10px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

}

.btn-yellow{
  text-align: center;
  background-color: #F40;
  border: 3px solid #000;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  margin: auto;
  display: grid;
  font-size: 1.5em;
  padding-left: 16px;
  padding-top: 7px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  width: 80px;

.center-text {
  text-align: center;
}

.btn-red:hover {
  color: #FF0;
  background-color: #D40;
  text-decoration: none;
  transition: background-color 0.5s;
  transition: color 0.5s;

}



h2 {
  color: #F15;

  opacity: 1.0;
}
