{% extends "base.html" %}

{% block title %} HIIT Result {% endblock %}

  {% block header %}

    {{ super() }}

      <style>

        body {
          background-color: #DFE;
        }

      </style>

  {% endblock %}

  {% block content %}
    <div id="header">

      <h1>Your Workout</h1>

        <p>15 mins</p>

    </div>

    <div id="exercises">
      <div>
        <ol>
          {% for exercise in target %}
          <li>
            {{ exercise[0] }}
          </li>
          {% endfor %}
        </ol>

      </div>
    </div>
  {% endblock %}
