{% extends "base.html" %}

{% block title %} HIIT Generator {% endblock %}

  {% block header %}

  {% endblock %}

  {% block content %}

    <div id="title">
        <h1>HIIT GENERATOR</h1>
    </div>






  <form action="/result" method="post">


    <div id="variables">


    <p>  <h1><u>WORKOUT OPTIONS</u></h1> </p>


      <div>
        <h2 id="vheader" style="color:#000;">&bull; Muscle Group &bull;</h2>

          <ul class="options">
            {% for muscle in muscles %}
              <li>
                <input type="radio" name="muscle" value="{{ muscle[0] }}"/>
                {{ muscle[0] }}
              </li>
            {%endfor%}
          </ul>
      </div>

      <div>

        <h2 id="vheader" style="color:#000;">&bull; Workout Duration &bull;</h2>

          <ul class="options">
            {% for length in length %}
              <li>
                <input type="radio" name="length" value="{{ length[0] }}">
                {{ length[0] }}
              </li>
            {% endfor %}
          </ul>

      </div>

      <div>
        <h2 id="vheader" style="color:#000;">&bull; Difficulty &bull;</h2>

          <ul class="options"  style="padding-left:80px;">
            {% for difficulty in difficulty %}
              <li>
                <input type="radio" name="difficulty" value="{{difficulty[0]}}">
                {{ difficulty[0] }}
              </li>
            {% endfor %}
          </ul>
      </div>

    </div>
        <div>
            <p>
                <input type="submit" value="workout" class="btn-red">
            </p>
        </div>
  </form>

    <div id="footer">
      {{disclaimer|upper}}
    </div>


{% endblock %}
